<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 💦 Random grouping

## [1] Import packages, read a file 

Note: Column name as "Names"

In [1]:
#@markdown Import packages
import pandas as pd
import numpy as np
import random

sample: https://raw.githubusercontent.com/MK316/Spring2023/main/data/att_sample.csv

sample2: https://raw.githubusercontent.com/MK316/Spring2023/main/Engpro/engpro_att.csv

In [3]:
#@markdown Read attendance list, define grouping(l, n)
url = input()
df = pd.read_csv(url, encoding="cp949")
attlist = df.Names.values.tolist()

def grouping(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

df

https://raw.githubusercontent.com/MK316/Spring2023/main/Engpro/engpro_att.csv

    NO    Subject Names
0    1  영어발음이해및연습   양태경
1    2  영어발음이해및연습   강주애
2    3  영어발음이해및연습   고보민
3    4  영어발음이해및연습   김나영
4    5  영어발음이해및연습   김류경
5    6  영어발음이해및연습   김서현
6    7  영어발음이해및연습   김정민
7    8  영어발음이해및연습   남윤혁
8    9  영어발음이해및연습   노하정
9   10  영어발음이해및연습   박소연
10  11  영어발음이해및연습   박신영
11  12  영어발음이해및연습   박혜원
12  13  영어발음이해및연습   백의진
13  14  영어발음이해및연습   이나현
14  15  영어발음이해및연습   이다은
15  16  영어발음이해및연습   이다혜
16  17  영어발음이해및연습   이서현
17  18  영어발음이해및연습   이유찬
18  19  영어발음이해및연습   임서영
19  20  영어발음이해및연습   정서윤
20  21  영어발음이해및연습   정서현
21  22  영어발음이해및연습   정해윤
22  23  영어발음이해및연습   조수현
23  24  영어발음이해및연습   추수현
24  25  영어발음이해및연습   하지함
25  26  영어발음이해및연습   방예원

## [2] Random grouping

In [4]:
#@markdown 🌀 Random grouping of size "n"
random.shuffle(attlist)

gsize = input("Size of each group: ")
gs = int(gsize)

mylist = list(grouping(attlist, gs))
ngroups = len(list(grouping(attlist, gs)))

print(mylist)
print("="*50)
print("Number of groups: %d in total."%ngroups)

gn = ngroups
gname = []
df1 = pd.DataFrame()
for i in range(0,gn):
  nam = "G" + str(i+1)
  gname.append(nam)

df1['Group'] = gname
df1['Members'] = mylist
df1

Size of each group: 4
[['양태경', '방예원', '박혜원', '김서현'], ['정서윤', '이나현', '백의진', '이다혜'], ['조수현', '정해윤', '강주애', '고보민'], ['남윤혁', '박신영', '추수현', '노하정'], ['박소연', '임서영', '하지함', '이유찬'], ['김정민', '이서현', '이다은', '김나영'], ['정서현', '김류경']]
==================================================
Number of groups: 7 in total.

  Group               Members
0    G1  [양태경, 방예원, 박혜원, 김서현]
1    G2  [정서윤, 이나현, 백의진, 이다혜]
2    G3  [조수현, 정해윤, 강주애, 고보민]
3    G4  [남윤혁, 박신영, 추수현, 노하정]
4    G5  [박소연, 임서영, 하지함, 이유찬]
5    G6  [김정민, 이서현, 이다은, 김나영]
6    G7            [정서현, 김류경]

## [3] File saving and cleaning

In [5]:
#@markdown Save the list to Google drive: 
from google.colab import drive
drive.mount('/content/drive')
fn = input('file name: ')
path = '/content/drive/My Drive/myclass/S2023/' + fn
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f, index=False)

print("="*50)
print("Saved file: ")
data = pd.read_csv(path)
print(data)
res = input("Unmount drive? (y or n)")

if res == "y":
  drive.flush_and_unmount()
else:
  print("Okay, the drive is still on.")

Mounted at /content/drive
file name: engproatt_test.csv
==================================================
Saved file:
  Group                       Members
0    G1  ['양태경', '방예원', '박혜원', '김서현']
1    G2  ['정서윤', '이나현', '백의진', '이다혜']
2    G3  ['조수현', '정해윤', '강주애', '고보민']
3    G4  ['남윤혁', '박신영', '추수현', '노하정']
4    G5  ['박소연', '임서영', '하지함', '이유찬']
5    G6  ['김정민', '이서현', '이다은', '김나영']
6    G7                ['정서현', '김류경']
Unmount drive? (y or n)y