<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ’¦ Random grouping

## [1] Import packages, read a file 

Note: Column name as "Names"

In [1]:
#@markdown Import packages
import pandas as pd
import numpy as np
import random

sample: https://raw.githubusercontent.com/MK316/Spring2023/main/data/att_sample.csv

In [5]:
#@markdown Read attendance list, define grouping(l, n)
url = input()
df = pd.read_csv(url)
attlist = df.Names.values.tolist()

def grouping(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

df

https://raw.githubusercontent.com/MK316/Spring2023/main/data/att_sample.csv

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

## [2] Random grouping

In [4]:
#@markdown ðŸŒ€ Random grouping of size "n"
random.shuffle(attlist)

gsize = input("Size of each group: ")
gs = int(gsize)

mylist = list(grouping(attlist, gs))
ngroups = len(list(grouping(attlist, gs)))

print(mylist)
print("="*50)
print("Number of groups: %d in total."%ngroups)

gn = ngroups
gname = []
df1 = pd.DataFrame()
for i in range(0,gn):
  nam = "G" + str(i+1)
  gname.append(nam)

df1['Group'] = gname
df1['Members'] = mylist
df1

Size of each group: 5
[['Bob', 'Natalie', 'Mike', 'Tim', 'Jin'], ['Mary', 'Marie', 'John', 'Sarah', 'Johnson'], ['Paul', 'Sam', 'Kate', 'Harry']]
==================================================
Number of groups: 3 in total.

  Group                              Members
0    G1       [Bob, Natalie, Mike, Tim, Jin]
1    G2  [Mary, Marie, John, Sarah, Johnson]
2    G3             [Paul, Sam, Kate, Harry]

## [3] File saving and cleaning

In [ ]:
#@markdown Save the list to Google drive: 
from google.colab import drive
drive.mount('/content/drive')
fn = input('file name: ')
path = '/content/drive/My Drive/myclass/S2023/' + fn
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f, index=False)

print("="*50)
print("Saved file: ")
data = pd.read_csv(path)
print(data)
res = input("Unmount drive? (y or n)")

if res == "y":
  drive.flush_and_unmount()
else:
  print("Okay, the drive is still on.")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
file name: mylist.csv
==================================================
Saved file:
  Group                       Members
0    G1      ['Kate', 'Mary', 'Paul']
1    G2     ['Marie', 'Jin', 'Harry']
2    G3  ['Sarah', 'Natalie', 'John']
3    G4        ['Sam', 'Mike', 'Bob']
4    G5            ['Tim', 'Johnson']
Unmount drive? (y or n)y