<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/DL/DLW02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üå≥ **Digital Literacy & English Education** (Week 02): 
# Topic: Coding basic #1

Table of contents

* variables
* operators
* data types: list and dictionary

Your github IDs [here](https://docs.google.com/spreadsheets/d/1rBlWeffj5RaBQS-lcv46r3Xe-JVF8PpwDngsuQhLKCc/edit?usp=sharing): due by March 13(Monday)

# [1] Variables

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [3]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

‚ÜóÔ∏è In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [ ]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

## Commenting '#'

- In Python, the # symbol is used to indicate a comment. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

In [ ]:
# This is a comment in Python
x = 10 # this is also a comment

In [10]:
x * 10
y + "Welcome to the class."
k = z * 2 
print(k)
z + [3,2,1]

[1, 2, 3, 1, 2, 3]

[1, 2, 3, 3, 2, 1]

# [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)

In [15]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [16]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

# üî¢ Calculator

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

func = "subtract" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d"%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d"%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d"%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d"%(d1,d2,result)

print(text)

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

üéÉ Goto... grouping.ipynb [link](https://github.com/MK316/classtools/blob/main/grouping.ipynb)

# [3] Data types: list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

In [36]:
a1 = 3
a2 = 3.0
a3 = "3"

type(a1+int(a2))

int

list and index (0, 1, 2,...)

In [39]:
a = [1, "Mary", 4, "John"]
print(type(a))
a[0:4]

<class 'list'>

[1, 'Mary', 4, 'John']

# [4] Dataframe (columns and rows)

In [41]:
import pandas as pd

df = pd.DataFrame()
df['Name'] = ['Mary','John','Sarah']
df['English'] = [90, 80, 98]
df

    Name  English
0   Mary       90
1   John       80
2  Sarah       98

# Demo

Current time in a city

[pytz timezone list](https://gist.github.com/heyalexej/8bf688fd67d7199be4a1682b3eec7568)

In [73]:
from datetime import datetime
import pytz

# Get the timezone object for New York

location = 'Europe/London' #@param = ['America/New_York', 'Europe/London', 'Asia/Seoul', 'Africa/Cairo']
loc = location.split("/")
locq = loc[1]

tz_loc = pytz.timezone(location) 
datetime = datetime.now(tz_loc)
current_time1 = datetime.strftime("%H:%M")
current_time2 = datetime.strftime("%I:%M %p")

# Get the current time in New York
print("Current Time in %s is"%locq, current_time2)

Current Time in London is 03:45 PM

# ‚è∞ Todo:



---
# The End